/*
#accordion .card:not(:last-child) {
    border-bottom: 0px;
}

#accordion .card {
    border-radius: 3px !important;
}

#accordion .card .card-header {
    padding: 0.25rem 1.25rem !important;
}

.card-header b {
    line-height: 2.5;
    padding-left: 0.75rem;
}

.card-header b i {
    padding-left: 0rem;
}
.right_panel {
    margin-top: -16px !important;
}

.card-header-button {
    margin-right: 10px;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1.5;
}

.card-body .table thead th {
    border-top: none !important;
    border-bottom: none !important;
}


#accordion .card {
    border-radius: 3px !important;
}

@media (max-width: 576px) {
    .sidebar {
        position: unset;
    }
    .main-nav{
      position: unset !important;
      width: 100%;
      z-index: 100;
    }
    .sidebar-sticky {
        height: max-content;
    }
    #mainPage {
        width: 100%;
    }

}
.accordion-sidebar-title {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 7px;
    padding-left: 20px;
}
/* added on 15 - Jan - 2020 */
/* commented because this is causing all containers to have margin top. replace with .list-container
/*@media (min-width: 1200px) {
    main.py-4 div.container:first-child {
        margin-top: 75px;
    }
}

.list-container{
    margin-top: 75px;
}
.accordion-breadcrumb {
    background-color: transparent !important;
    padding-bottom: 0px !important;
}



@media (min-width: 992px) {
  main.col-lg-10 {
      flex: 0 0 83.333333%;
      -ms-flex: 0 0 83.333333%;
      max-width: 79.333333%;
  }
}
.sidebar-sticky {
    margin-top: 6px !important;
}

.sidebar-sticky ul li a {
    color: black !important;
    font-size: 13px;
    font-weight: 500;
}

.sidebar-sticky ul li a:hover {
    color: #0404048f !important;
    transition: all .3s ease-in;
}
.sidebar-sticky li.nav-item:hover {
    background-color: #f79646;
    transition: right 3s ease-in-out;
    color: white;
}


.jq-right-panel-add{
    flex: auto !important;
    max-width: 93.33% !important;
}
.jq-right-panel-remove{
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
}
*/
